/*<!--

//GLOBAL STYLES//-->*/
:root {
  --dark_blue: #374659;
  --light_blue: #8aafdf;
  --white: #eeeeee;
  --orange: #fca400;
  --grey: #989ea6;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;

  /* guide-lines / backgound
  border: 1px solid red;
  background-color: rgba(140, 35, 72, 0.11);*/
}

body {
  font-family: "Numans", sans-serif;
  background-color: var(--dark_blue);
}

h1,
h2,
h3,
p,
a,
span {
  color: var(--white);
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1 {
  font-size: 25pt;
}

h2 {
  font-size: 18 pt;
}

h3,
p,
a,
span {
  font-size: 14pt;
}

a:hover {
  color: var(--light_blue);
}

#link.material-symbols-rounded {
  font-size: 25px !important;
  text-indent: 0px;
}

#link.material-symbols-rounded:hover {
  color: var(--light_blue);
}

.material-symbols-rounded {
  color: var(--white);
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 40;
}

img#main-logo {
  height: auto;
  margin: 10px;
}

.header-logo,
.footer-logo {
  max-width: 250px;
}

.header-wrapper,
.main-wrapper,
.footer-wrapper {
  background-color: inherit;
  width: 100%;
}
/*<!--

//HEADER//-->*/
header {
  display: flex;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  height: fit-content;
  background-color: inherit;
  padding-bottom: 10px;
}

.header-wrapper {
  display: block;
  width: 100%;
  height: auto;
  border-bottom: solid 1px var(--grey);
}

#hamburgerIcon {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: xx-large;
  color: var(--orange);
}

nav,
#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  max-width: auto;
  height: 100%;
  margin: 0 auto;
  background-color: var(--dark_blue);
}

nav ul {
  list-style-type: none;
  display: block;
  max-width: 250px;
  padding: 10%;
}

nav ul li {
  text-align: left;
  margin-top: 15px;
}

.menu-header {
  display: flex;
  border-bottom: solid 1px var(--grey);
}

/*---NAV LINK---*/

nav a {
  height: auto;
  margin: 0px;
  text-decoration: none;
}

nav a:hover {
  color: var(--orange);
}

/*---TRANSISTION BORDER-BOTTOM--->*/
nav .nav-button:after,
nav .nav-button:before {
  display: block;
  height: fit-content;
  width: inherit;
  content: "";
  border-bottom: solid 2px var(--orange);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

nav .nav-button:after {
  display: block;
  content: "";
  border-bottom: solid 2px var(--orange);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
nav .nav-button:hover:after {
  transform: scaleX(1);
  transform-origin: 0px 150px;
}

nav a.current-page .nav-button {
  color: var(--orange);
}
/*<!--

//MAIN//-->*/
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 150px;
}

.main-wrapper {
  padding-top: 25px;
  max-width: 1080px;
}

#page-intro {
  padding: 15px;
}

#page-intro p {
  padding: 15px;
}

#latest-posts {
}

#featured-posts {
}

/*<!--

//FOOTER//-->*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
}

.footer-wrapper {
  display: block;
  text-align: center;
  max-width: 1080px;
  padding-top: 25px;
  margin-bottom: 25px;
  border-top: solid 1px var(--grey);
}

footer span,
footer p,
footer a {
  font-size: 10pt;
}

.footer-links,
.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

#copyright.material-symbols-rounded {
  font-size: 10pt !important;
  margin: 5px;
}

img#socials-icons {
  margin: 5px;
  width: 25px;
  height: 25px;
}

/* Media Query above 500px width */
@media (min-width: 501px) {
  /*<--

  HEADER-->*/
  header {
    height: fit-content;
    max-width: 1080px;
    margin: 0 auto;
  }

  #logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    background: url("/img/mountain2.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom-right-radius: 25px;
  }

  .header-logo {
    max-width: 350px;
  }

  /*NAV*/
  #hamburgerIcon,
  .menu-header {
    display: none;
  }

  nav,
  nav a,
  nav ul,
  nav ul li,
  nav ul li {
    display: flex;
    position: unset;
    padding: 0;
    margin: 0;
    height: 55px;
  }
  /*<!--

//MAIN//-->*/
  main {
    padding-top: 305px;
  }
  /*<!--

//FOOTER//-->*/

  .footer-wrapper {
    display: grid;
    grid-area
    max-width: 1080px;
    padding-top: 25px;
    margin-bottom: 25px;
    border-top: solid 1px var(--grey);
  }
}
